<div class="container">
    <div class="jumbotron">
        <h1 appHighlight> Transaction History</h1>
        <div class="row">
            <div class="col" >
                <table>
                   <thead>
                       <tr><app-delete-confirmation (onCancel)="onCancel($event)" (onDelete)="onDelete($event)" [id]="id"></app-delete-confirmation></tr>
                       <tr>
                           <th>id</th>
                           <th>Amount</th>
                           <th>Type</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr *ngFor="let transaction of transactions">
                           <td>{{transaction._id}}</td>
                           <td>{{transaction.amount}}</td>
                           <td>{{ transaction.typeOfTransaction}}</td>
                           <td><button class="btn btn-primary" (click)="showConfirmation(transaction._id)">DELETE</button></td>
                                      </tr>
                       
                   </tbody>
                </table>
                
            </div>
            </div>
            </div>
</div>