<div class="container">
    <div class="jumbotron">
        <h1>Welcome {{name}} </h1>
        <a routerLink="../transaction history">view transaction</a>
        <div class="row">
            <div class="col" >
                <h2>Cash Deposit</h2>
                <form [formGroup]="depositForm" (ngSubmit)="deposit()">
                <table>
                    <tr>
                        <td>Account Number</td>
                        <td><input formControlName="acnod" name="acnotest" type="text" name="" id="acno"></td>
                    </tr>
                    <tr>
                        <td>Pin</td>
                        <td><input formControlName="pind" name="pinnum" type="text" name="" id="pin"></td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td><input formControlName="amtd" name="amount" type="text" name="" id="amt"></td>
                        
                    </tr>
                    <tr>
                        <td colspan="2"> <button type="submit"  >Deposit</button></td>
                    </tr>
                </table>
                </form>
            </div>

            <div class="col" >
                <h2>Cash Withdrawal</h2>
                <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()" >
                <table>
                    <tr>
                        <td>Account No:</td>
                        <td><input formControlName="acnow" name="accnotest" type="text" name="" id="wacno"></td>
                    </tr>
                    <tr>
                        <td>Pin</td>
                        <td><input  formControlName="pinw" name="pin1" type="text" name="" id="wpin"></td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td><input  formControlName="amtw" name="amount withdrw" type="text" name="" id="wamt"></td>
                    </tr>
                    <tr>
                        <td colspan="2"> <button type="submit" >Withdraw</button></td>
                    </tr>
                </table>
                </form>
            </div>

        </div>
    </div>
</div>
<div>

</div>
<div>
    
</div>
