<div class="container">
    <div class="jumbotron">
        <h1>Welcome User </h1>
        <div class="row">
            <div class="col" >
                <h2>Cash Deposit</h2>
                <table>
                    <tr>
                        <td>Account Number</td>
                        <td><input [(ngModel)]="acnod" name="acnotest" type="text" name="" id="acno"></td>
                    </tr>
                    <tr>
                        <td>Pin</td>
                        <td><input [(ngModel)]="pind" name="pinnum" type="text" name="" id="pin"></td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td><input [(ngModel)]="amtd" name="amount" type="text" name="" id="amt"></td>
                        
                    </tr>
                    <tr>
                        <td colspan="2"> <button type="button"  >Deposit</button></td>
                    </tr>
                </table>
            </div>

            <div class="col" >
                <h2>Cash Withdrawal</h2>
                <table>
                    <tr>
                        <td>Account No:</td>
                        <td><input [(ngModel)]="acnow" name="accnotest" type="text" name="" id="wacno"></td>
                    </tr>
                    <tr>
                        <td>Pin</td>
                        <td><input  [(ngModel)]="pinw" name="pin1" type="text" name="" id="wpin"></td>
                    </tr>
                    <tr>
                        <td>Amount</td>
                        <td><input  [(ngModel)]="amtw" name="amount withdrw" type="text" name="" id="wamt"></td>
                    </tr>
                    <tr>
                        <td colspan="2"> <button type="button" >Withdraw</button></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
<div>

</div>
<div>
    
</div>
